*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
input[type="button"]{
    width: 75px;
    height: 75px;
    font-size: 50px;
    background-color: grey;
    color: ivory;
    border: none;
}
#nice{
    background-color:salmon; 
    width:75px;
    font-size: 35px;
}
.a{
    background-color:lightgrey;
     margin-left: 400px;
     width: 435px;
     height: 682px;
     padding:2px 2px 2px 2px;
     border:white 20px;
}
footer{
    display: block;
    position:fixed;
}